eureciclo/
gdrive-pessoal/
teste.py
.zshrc
.zsh_history
.zoom/
.zcompdump
.wget-hsts
.vscode-oss/
.viminfo
.vim/
.var/
.swt/
.stremio-server/
.steampid
.steampath
.steam/
.ssh/
.screenrc
.python_history
.pulse-cookie
.pki/
.npm/
.mozilla/
.lesshst
.jupyter/
.icons
.gtkrc-2.0
.gnupg/
.fonts/
.eclipse/
.config/zoomus.conf
.config/yay-git
.config/xfce4/
.config/vscode-sqltools/
.config/virt-manager/
.config/spotifyd/
.config/spotifyd.conf
Downloads/
.config/spotify/
.config/spotify-tui/
.config/qt5ct/
.config/qBittorrent/
.config/pulse/
.config/pavucontrol.ini
.config/nuclear/
.config/nitrogen/
.config/neofetch
.config/st/
.config/slock/
.config/dwmblocks/
.config/dwm-large-screen/
.config/dwm-bar/
.config/mimeapps.list
.config/menus/
.config/mc/
.config/libvirt/
.config/ktorrentrc
.config/kmagrc
.config/kdeglobals
.config/kconf_updaterc
.config/htop/
.config/guiscrcpy/
.config/gtk-3.0/
.config/gtk-2.0/
.config/google-cloud-sdk/
.config/gh/
.config/gedit/
.config/gcloud/
.config/fd/
.config/dwmstatus/
.config/dmenufm/
.config/dmenu_bw/
.config/dmenu/
.config/discord/
.config/dconf/
.config/cef_user_data/
.config/autostart/
.config/VirtualBox/
.config/VirtualBox VMs/
.config/VSCodium/
.config/Unknown Organization/
.config/Slack/
.config/RogueLegacy/
.config/QtProject.conf
.config/Postman/
.config/Insync/
.config/GIMP/
.config/BraveSoftware/
.config/Bitwarden CLI/
.config/Authy Desktop/
.config/dwm
.cdk/
.cargo/
.cache/
.boto
.bashrc.backup
.bash_history
.bash_logout
.Xauthority
.dotfiles/
.config/obsidian/
.vault_key
**.jpg
**.png
**.py
.config/ansible/
.yarnrc
.java/
.jak/
.electron-gyp/
.config/nvim/plugged/
.config/nvim/plugged/dbext.vim
.config/fontforge/
.config/configstore/
.ansible/
.scripts/
.local/bin/
.local/etc/
.local/include/
.local/lib/
.local/share/Anki/
.local/share/Anki2/
.local/share/DBeaverData/
.local/share/Insync/
.local/share/RogueLegacy/
.local/share/Smart Code ltd/
.local/share/Steam/
.local/share/TelegramDesktop/
.local/share/Trash/
.local/share/applications/
.local/share/bottles/
.local/share/desktop-directories/
.local/share/firenvim/
.local/share/fish/generated_completions/
.local/share/flatpak/
.local/share/gedit/
.local/share/iwctl/
.local/share/jupyter/
.local/share/kcookiejar/
.local/share/ktorrent/
.local/share/lf/
.local/share/mc/
.local/share/nvim/
.local/share/omf/
.local/share/qBittorrent/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/remmina/
.local/share/vscode-sqltools/
.local/share/vulkan/
.local/share/xorg/
