eureciclo/
gdrive-pessoal/
teste.py
.zshrc
.zsh_history
.zoom/
.zcompdump
.wget-hsts
.vscode-oss/
.viminfo
.vim/
.var/
.swt/
.stremio-server/
.steampid
.steampath
.steam/
.ssh/
.screenrc
.python_history
.pulse-cookie
.pki/
.npm/
.mozilla/
.local/
