# Directories
eureciclo/
gdrive-pessoal/
ProgramasRFB/
projects/
videos

# File extensions
*.csv
*.jpg
*.md
*.pdf
*.png
*.py
*.rs
*.sql
*.txt
*.xml
*.xlsx
*.zip
*.xcf
*.psd

# Dotfiles in home directory
.bash_history
.bash_logout
.bashrc.backup
.boto
.databrickscfg
.databricks-connect
.fehbg
.gtkrc-2.0
.icons
.ipython
.lesshst
.mbsyncrc
.msmtprc
.notmuch-config
.npmrc
.pdbhistory
.pulse-cookie
.python_history
.python_history-*.tmp
.rnd
.scala_history
.sc_history
.screenrc
.steampath
.steampid
.urlview
.vault_key
.vault_password
.viminfo
.wget-hsts
.Xauthority
.yarnrc
.zcompdump
.zsh_history
.zshrc

# Dot directories
.abook/
.ansible/
.cache/
.cargo/
.cdk/
.databricks/
.dotfiles/
.eclipse/
.electron-gyp/
.elinks/
.fonts/
.gnupg/
.grip/
.jak/
.java/
.jupyter/
.kube/
.mozilla/
.npm/
.password-store/
.pki/
.scripts/
.sdb/
.ssh/
.steam/
.stremio-server/
.swt/
.terraform.d/
.var/
.vim/after/
.vim/undo/
.vscode/
.vscode-oss/
.wdm/
.zoom/

# .local
.local/
.local/bin/
.local/etc/
.local/include/
.local/lib/
.local/share/Anki/
.local/share/Anki2/
.local/share/applications/
.local/share/bottles/
.local/share/DBeaverData
.local/share/desktop-directories/
.local/share/firenvim/
.local/share/fish/
.local/share/fish/generated_completions/
.local/share/flatpak/
.local/share/gedit/
.local/share/icons
.local/share/Insync/
.local/share/iwctl/
.local/share/jupyter/
.local/share/kcookiejar/
.local/share/ktorrent/
.local/share/lf/
.local/share/man
.local/share/mc/
.local/share/nvim/
.local/share/omf/
.local/share/onlyoffice/
.local/share/qBittorrent/
.local/share/qutebrowser/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/remmina/
.local/share/RogueLegacy/
.local/share/Smart Code ltd/
.local/share/Steam/
.local/share/TelegramDesktop/
.local/share/Trash/
.local/share/vscode-sqltools/
.local/share/vulkan/
.local/share/xorg/

# .config directory files
.config/anki
.config/ansible/
.config/Authy Desktop/
.config/autostart/
.config/aws/
.config/aws/credentials
.config/Bitwarden CLI/
.config/bleachbit/
.config/BraveSoftware/
.config/btop/
.config/cef_user_data/
.config/chromium/
.config/Clockify/
.config/configstore/
.config/db_ui/
.config/dconf/
.config/discord/
.config/dmenu/
.config/dmenu_bw/
.config/dmenufm/
.config/dotfiles
.config/dwm
.config/dwm-bar/
.config/dwmblocks/
.config/dwm-large-screen/
.config/dwmstatus/
.config/Ferdium/
.config/fish/fishd.tmp.*
.config/fontforge/
.config/freerdp/
.config/gcloud/
.config/gedit/
.config/gh/
.config/GIMP/
.config/google-chrome/
.config/google-chrome-unstable/
.config/google-cloud-sdk/
.config/grammarly-languageserver/
.config/gtk-2.0/
.config/guiscrcpy/
.config/htop/
.config/Insomnia/
.config/Insomnium/
.config/Insync/
.config/ipython
.config/JetBrains/
.config/kconf_updaterc
.config/kdeglobals
.config/kmagrc
.config/ktorrentrc
.config/libreoffice/
.config/libvirt/
.config/mc/
.config/menus/
.config/mimeapps.list
.config/msmtp/
.config/mutt/
.config/my-dwm
.config/neofetch
.config/nitrogen/
.config/nuclear/
.config/nvim/lazy-lock.json
.config/nvim/plugged/
.config/nvim/plugged/
.config/nvim/plugged/dbext.vim
.config/nvim/spell/pt.utf-8.spl
.config/nvim/undo
.config/obsidian/
.config/onlyoffice/
.config/packer/
.config/pavucontrol.ini
.config/Portmaster/
.config/Postman/
.config/pritunl/
.config/pulse/
.config/python-env/
.config/qBittorrent/
.config/qt5ct/
.config/QtProject.conf
.config/qutebrowser/bookmarks/
.config/qutebrowser/cache/
.config/qutebrowser/config/
.config/qutebrowser/data/
.config/qutebrowser/qsettings/
.config/qutebrowser/qute-bitwarden
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/quickmarks
.config/remmina/
.config/rncbc.org/
.config/RogueLegacy/
.config/Slack/
.config/slock/
.config/spicy/
.config/spotify/
.config/spotifyd/
.config/spotifyd.conf
.config/spotify-tui/
.config/sql-language-server/
.config/st/
.config/stw/
.config/systemd/
.config/thorium/
.config/Thunar/
.config/tlpui/
.config/tmux/tmux-resurrect/
.config/ungoogled-chromium/
.config/Unknown Organization/
.config/user-dirs.locale
.config/virt-manager/
.config/VirtualBox/
.config/VirtualBox VMs/
.config/vscode-sqltools/
.config/VSCodium/
.config/wall-d/
.config/whatsapp-nativefier-d40211/
.config/xfce4/
.config/Xmind/
.config/yay
.config/yay-git
.config/zoomus.conf
.config/Zulip/
.config/syncthing/
